#BG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
  }

.head{
    position: relative;
    color: #000000;
    padding: 20px;
}
.text {
  position: absolute;
  color: #000000;
  padding: 20px;
  top: 200px;
  left: 10px;
}
.option{
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 40px;
}
.option a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.option a:hover{
    color:rgb(56, 56, 56);
}
.option input[type=text]{
    position: absolute;
    top: 300px;
    right: 50px;
    float: right;
    padding: 20px;
    border: black;
    margin-top: 10px;
    margin-right: 40px;
    font-size: 20px;
    opacity: 0.4;
}
h1{
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.social{
    position: absolute;
    bottom: 20px;
}